@media (max-width: 900px) {
    .remember--form-container .checkbox--item input {
        width: 30px;
        position: relative;
        bottom: 2px;
    }
    .header__hover--menu li {
    background-color: rgb(111, 44, 255);
    border: 1px solid white;
    }
    .error-main {
        align-items: flex-start;
    }
    .error-section {
        flex-direction: column;
        align-items: center;
    }
    .error-main .error-section .left-container img {
        width: 300px;
        position: relative;
        left: 15px;
    }
}