/*RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*SHARED*/
body {
    background-color: var(--main-bg-color);
    font-family: muli, sans-serif;
    color: var(--almost-white);
}
:root {
    --main-bg-color: rgb(131,77,252);
    --almost-white: rgb(247, 245, 245);
}
.flex {
    display: flex;
}
/*HEADER*/
.header__nav {
    background-color: var(--main-bg-color);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.header__nav .header__logo-container img {
    width: 150px;
}
.header__nav .header__profile {
    color: var(--almost-white);
    font-weight: bold;
    align-items: center;
    column-gap: 8px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}
.header__nav .header__profile:hover .header__hover--menu  {
    display: block;
}
.header__nav .header__profile--image img {
    width: 30px;
}
.header__hover--menu {
    text-align: right;
    position: absolute;
    top: 30px;
    right: 0;
    padding-top: 10px;
    display: none;
}
.header__hover--menu li {
    list-style: none;
    padding: 5px;
    width: 110px;
}
.header__hover--menu li:hover {
    transition-duration: 1s;
    transition: rgb(111, 44, 255);
    background-color: rgb(111, 44, 255);
}
.header__hover--menu a {
    text-decoration: none;
    color: var(--almost-white);
}
.header__hover--menu a:hover {
    text-decoration: underline;
}
/*MAIN*/
.main__search-section {
    flex-direction: column;
    align-items: center;
}
.main__search-section .search--title-container h2 {
    font-size: 24px;
    margin-bottom: 12px;
}
.main__search-section .search--input-container {
    border: solid 2px var(--almost-white);
    border-radius: 15px;
    background-color: rgb(160, 117, 253);
    width: 80%;
}
.main__search-section .search--input-container input {
    border: none;
    background-color: transparent;
    padding: 10px;
    width: 100%;
    outline: none;
    color: white;
}
.main__search-section .search--input-container input::placeholder {
    color: white;
    font-weight: bold;
}
/*MAIN__CAROUSEL--SECTION*/
.main__carousel--list {
    margin-top: 10vh;
    gap: 20px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    height: 300px;
}
.main__carousel--list h2 {
    display: block;
    width: 100%;
    padding-left: 40px;
    padding-bottom: 10px;
    position: absolute;
    top: 225px;
}
.main__carousel--list-card {
    min-width: 150px;
    width: 150px;
    height: 200px;
    position: relative;
    cursor: pointer;
}
.main__carousel--list-card .card__overlay {
    background-color: rgba(131,77,252,0.6);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
}
.main__carousel--list-card .main__carousel__card--img-container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.main__carousel--list-card .list1 {
    background-image: url('../assets/img/list1.jpg');
}
.main__carousel--list-card .list2 {
    background-image: url('../assets/img/list2.jpg');
}
.main__carousel--list-card .list3 {
    background-image: url('../assets/img/list3.jpg');
}
.main__carousel--list-card .list4 {
    background-image: url('../assets/img/list4.jpg');
}
.main__carousel--list-card .list5 {
    background-image: url('../assets/img/list5.jpg');
}
.main__carousel--list-card .list6 {
    background-image: url('../assets/img/list6.jpg');
}
.main__carousel--list-card .list7 {
    background-image: url('../assets/img/list7.jpg');
}
.main__carousel--list-card .card__hover-container {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    padding: 10px;
    width: 150px;
    border-radius: 0 0 10px 10px;
    bottom: 0;
}
.main__carousel--list-card .card__hover-container img {
    width: 20px;
    margin-bottom: 4px;
}
.main__carousel--list-card .card__hover-container p {
    margin-top: 4px;
    font-size: 12px;
}
.main__carousel--list-card:hover .card__hover-container {
    display: block;
}
.main__carousel--list-card:hover {
    transform: scale(1.3);
    transition: transform 1s;
    z-index: 1;
}
.main__carousel--list-card:hover .card__overlay {
    display: none;
}
